data/output/flowers_cam1_20210315.csv
data/output/flowes_tracks_cam1_20210315.csv
data/output/honeybee_115133006001_img.png
data/output/honeybee_115133006001.csv
data/output/honeybee_115133044002_img.png
data/output/honeybee_115133044002.csv
data/output/honeybee_115133135003_img.png
data/output/honeybee_115133135003.csv
data/output/tracks.csv
data/output/video_cam1_20210315.avi
data/output/video_details.txt
polytrack/__pycache__/analysis.cpython-310.pyc
polytrack/__pycache__/config.cpython-310.pyc
polytrack/__pycache__/flowers.cpython-310.pyc
polytrack/__pycache__/general.cpython-310.pyc
polytrack/__pycache__/tracker.cpython-310.pyc
